.card {
    z-index: 1;
    /*FOR ANIMATION ADD THIS TO YOUR CARD WHEN USING*/
    /* transition: transform 2s ease;
    transform-style: preserve-3d; */
}

.flippedCard {
    transform: rotateY(180deg);
    transform-origin: center;
    
}
.CardBack , .CardFront{
    background-color: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;   
    box-shadow: -5px 5px 10px black;
}
.CardFront{
    transform: rotateY(180deg);
}
