# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log.html

# VSCode
.VSCode/*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Apple 
.DS_Store

#Logs not updated on Develop


.gitignore

package-lock.json
package.json

app/server/log.html
app/server/log.html
./docs/
