/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
.header {
    background-color: #fece17; /* Couleur de fond jaune */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    
  }
  
header nav {
    display: flex;
    justify-content: space-between; /* Aligner les boutons à gauche, au centre et à droite */
    width: 100%; /* Assurer que la largeur de nav prend toute la largeur disponible */ 
}
  
header button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #404040; /* Couleur de fond des boutons */
    color: white;
    border: none;
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer;
    text-decoration: none;
  }
header button a {
    text-decoration: none; /* Supprimer le soulignement du lien à l'intérieur du bouton */
    color: inherit; /* Utiliser la couleur du texte du parent (button) */
  }
  
  
header a:visited {
    color: white; /* Couleur du texte pour les liens visités */
  }