/* ChatBox.css */
.chatBox-V2 {
  width: 3vw;
  height: 3vw;
  min-width: max-content;
  min-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 1vw 0;
  background-color: rgba(10, 111, 200, 0);
  transition: all 1s ease;
}

.chatBoxOpen-V2 {
  width: 20vw;
  height: 50vh;
  backdrop-filter: blur(35px);
  box-shadow: 10px 10px 20px black;
}

.btn-chatClose-V2 {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 20px;
  height: auto;
}
