.bonusPanel{
  border-style: none;
  border-radius: 10px;
  position:fixed;
  box-shadow: 0px 0px 5px black;
  padding: 5px;
}

img.box{
  padding: 10px;
  width: 30px;
  height: auto;
}

.box{
  position: relative;
  height: 60px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color:aliceblue;
  flex:1 0;
  margin: 3px;
}

.box-1{
  background-image: linear-gradient(0deg, rgb(0, 255, 0) 20%, rgb(240, 248, 255) 50%);
  transition: background-image 1s ease;
}
.box-2{
  background-image: linear-gradient(0deg, rgb(0, 255, 0) 50%, rgb(240, 248, 255) 70%);
  transition: background-image 1s ease;
}
.box-3{
  background-color: rgb(0, 255, 0);
  transition: background-color 1s ease;
}


.bonusButton{
  font-weight: bold;
  font-style: italic;

  background-color: rgb(141, 0, 0);
  box-shadow: 0px 0px 10px rgb(42, 0, 0);
  color: aliceblue;
  border-radius: 10px;

  text-align: center;
  padding: 5px;
  margin: 2px;

  cursor: pointer;
}

.bonusButton:hover{
  box-shadow: inset 0 0 10px black;
}


