.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    border-style: solid;
    background-color: white;
    flex-direction: column;
    position: absolute;
    top:0;
    z-index: -1;
}

.statusBar{
    display: flex;
    align-items: center;
    justify-content: center;

    width:85px;
    height: 20px;
    border-style:solid;
    border-radius: 20px;
    background-color: rgb(62, 62, 62);
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;

    min-width: 50px ;
    padding: 10px 5px 10px 5px;

    border-style: solid;
    border-radius: 10px;

    background-color: aqua;
}

.profilePic{
    border-radius:50%;
    width:40px;
    border-style:solid;
    border-width: 8px;
    border-color: black;
    box-shadow: 0 0 10px black;
    margin-top:50px;
}