
.container{
    width: 450px;
    display: flex;
    flex-direction: column; 
}

.actionButtons{
    width:430px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    align-self: center;
}

.raise, .checkOrCall, .Fold{

    background-color: #2d2a2a;
    color: aliceblue;

    border-style: unset;

    border-radius: 15px;

    font-weight: 600;
    font-size: 15px;

    height: 40px;
    min-width: 120px;

    cursor: pointer;

    margin-bottom: 10px;

}

.raise, .checkOrCall, .Fold:hover{
    filter:brightness(90%);
}

.raiseSlider{
    align-self: center;
    position: relative;
}


