
.container{
    width: 450px;
    display: flex;
    flex-direction: column; 
}

.actionButtons{
    width:430px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    align-self: center;
}

.raise, .checkOrCall, .Fold{

    background-color: #2d2a2a;
    color: aliceblue;

    border-style: unset;

    border-radius: 15px;

    font-weight: 600;
    font-size: 15px;

    height: 40px;
    min-width: 120px;

    cursor: pointer;

    margin-bottom: 10px;
    box-shadow: 0 0 10px black;

    
}

.raise:hover, .checkOrCall:hover, .Fold:hover{
    filter:brightness(90%);
    text-shadow:
    0 0 5px #fff, /* Neon glow */
    0 0 10px #fff, /* Neon glow */
    0 0 15px #fff, /* Neon glow */
    0 0 20px rgb(255, 255, 255), /* Neon glow color */
    0 0 30px rgb(255, 255, 255);
}

.raiseSlider{
    align-self: center;
    position: relative;
}


