
.container-gameAction{
    width: 450px;
    display: flex;
    flex-direction: column; 

}

.btn-raise, .btn-checkOrCall, .btn-fold{


    background-color: #2d2a2a;
    color: aliceblue;

    border-style: unset;

    border-radius: 15px;

    font-weight: 600;
    font-size: 15px;

    height: 40px;
    min-width: 120px;

    cursor: pointer;

    margin-bottom: 10px;
    box-shadow: 0 0 10px black;

    
}

.btn-raise:hover, .btn-checkOrCall:hover, .btn-fold:hover{
    filter:brightness(90%);
    text-shadow:
    0 0 5px #fff, /* Neon glow */
    0 0 10px #fff, /* Neon glow */
    0 0 15px #fff, /* Neon glow */
    0 0 20px rgb(255, 255, 255), /* Neon glow color */
    0 0 30px rgb(255, 255, 255);
}




.container-ActionButtons{
    width:430px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    align-self: center;
    flex-wrap: wrap;
    z-index: 1;
}

.container-ActionButtons-slideUp{
    animation: ActionButtons-slideUp 1s ease-out 0s 1 normal both;
}

.rangeSlider{
    position:absolute;
    display: none;
    width:120px;

    transition-property:width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.rangeSlider-open{
    display:unset;
    height: 100%;
    animation: rangeSlider-slideDown 1s ease-in-out 0s 1 normal both;

}
.rangeSlider-close{
    display:none;
}
@keyframes rangeSlider-slideDown{
    0%{
        transform: scaleX(10%);
        transform-origin: left;
    }
    100%{
        transform: scaleX(100%);

    }
}
@keyframes ActionButtons-slideUp{
    from{
        transform: translateY(0%);
    }
    to{
        transform: TranslateY(-100%);
    }
}