.navbar{

}


.profile{
    position: absolute;
    top:0;
    left:0;
}
.settings{
    position: absolute;
    right: 0;
    top:0;
}
    


.chipsCash{
    position: absolute;
    left:0;
    margin-top: 25px;
}
.exit{
    position: absolute;
    right:0;
    margin-top: 25px;

}


