.container-nav{
    width: 100%;
}

/*PROFILE BUTTON*/
.btn-profile {
    border-style: unset;
    padding: 5px;
    width: auto;
    min-width: 150px;
    height: 40px;

    position: absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 18px;

    background-color: #004577; 
    color: aliceblue;   
    box-shadow: 2px 2px 10px black;
    border-radius: 0 14px 14px 14px;
    cursor: pointer;
}
.btn-profile:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 5px #fff, /* Neon glow */
    0 0 10px #fff, /* Neon glow */
    0 0 15px #fff, /* Neon glow */
    0 0 20px rgb(0, 51, 255), /* Neon glow color */
    0 0 30px rgb(0, 51, 255), /* Neon glow color */
    0 0 40px rgb(0, 51, 255), /* Neon glow color */
    0 0 55px #0ff, /* Neon glow color */
    0 0 75px #0ff; /* Neon glow color */
}
img.icon-profile{
    width: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-left: 5px;

    filter: invert(100%);
}
.btn-profile:hover img.icon-profile {
    filter: invert(100%);
}

/*SETTINGS BUTTON*/
.btn-settings {
    border-style: unset;
    padding: 5px;
    width: auto;
    min-width: 150px;
    height: 40px;

    position: absolute;
    top:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 18px;

    background-color: #47007c; 
    color: aliceblue;   
    box-shadow: -2px 2px 10px black;
    border-radius: 14px 0px 14px 14px;

    cursor: pointer;

}
.btn-settings:hover {
    filter:brightness(90%);
    cursor: pointer;
    color: #fff; /* Neon color */
    text-shadow:
      0 0 5px #fff, /* Neon glow */
      0 0 10px #fff, /* Neon glow */
      0 0 15px #fff, /* Neon glow */
      0 0 20px #f0f, /* Neon glow color */
      0 0 30px #f0f, /* Neon glow color */
      0 0 40px #f0f, /* Neon glow color */
      0 0 55px #0ff, /* Neon glow color */
      0 0 75px #0ff; /* Neon glow color */
}

img.icon-settings {
    width: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-left: 5px;
    filter: invert(100%);
    color: #fff; /* Neon color */
}


/*CHIPS CSS*/
.box-chips{
    all:unset;

    position: absolute;
    top:28px;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 13px 14px 4px 14px;

    height: 35px;
    width: fit-content;
    min-width: 70px;

    border-style: unset;
    border-radius: 0 20px 20px 20px;

    background-color: #313131;
    box-shadow: 2px 2px 10px black;

    text-align: center;
    font-size: 18px;
    font-weight:600;
    color: #fff;
    text-shadow:0 0 5px #fff , 0 0 10px #fff , 0 0 15px #fff; 
}

/*EXIT BUTTON*/
.btn-exit {
    all:unset;

    position: absolute;
    top:28px;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;

    padding: 13px 14px 4px 14px;
    
    height: 35px;
    min-width: 70px;

    border-style: unset;
    border-radius: 20px 0px 20px 20px;

    background-color: #71005c;
    box-shadow: -2px 2px 10px black;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);   
}

.btn-exit:hover {
    filter:brightness(90%);
    cursor: pointer;
    color: black;

    color: #fff; /* Neon color */
    text-shadow:
      0 0 5px #fff, /* Neon glow */
      0 0 10px #fff, /* Neon glow */
      0 0 15px #fff, /* Neon glow */
      0 0 20px #f0f, /* Neon glow color */
      0 0 30px #f0f, /* Neon glow color */
      0 0 40px #f0f, /* Neon glow color */
      0 0 55px #0ff, /* Neon glow color */
      0 0 75px #0ff; /* Neon glow color */
}


