.table{
    border-style: solid;
    border-radius: 150px;
    border-width: 1.5vw;
    border-color: rgb(0, 4, 17);

    width: 60vw;
    min-width: 400px;
    height: 40vh;


    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 0 50px rgb(0, 0, 0);
    background-color: #083f87;

    flex-wrap: wrap;    
}


.container-cards{
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    width: 30vw;
    height: 20vh;
}



.tableCardsPlacement {
    border-style: none;
    border-width: 1px;
    border-color: #ffffff;
    height: 100%;
    width: 80%;

    justify-content: center;
    align-items: center;
    display: flex;
}
/*SunGlass Poker text*/
.container-cards p{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font: italic small-caps  1.5vw/2 cursive;

}
.tableCardsPlacement img{
    position: absolute;
    right: 0;
    height: auto;
    width: 4vw;
    z-index: 1;
    margin:0 1% 0 1%; 
}
.disappear{
    display: none;
}

/*dealing the flop animation*/
.dealingFlop0 {
    display: flex;
    animation: dealingFlop0 1s ease-out 0s 1 normal both;
}
.dealingFlop1 {
    display: flex;
    animation: dealingFlop1 1s ease-in-out 0.2s 1 normal forwards;
}
.dealingFlop2 {
    display: flex;
    animation: dealingFlop2 1s ease-in-out 0.4s 1 normal forwards;
}
.dealingFlop3 {
    display: flex;
    animation: dealingFlop3 1s ease-in-out 0s 1 normal forwards;
}
.dealingFlop4 {
    display: flex;
    animation: dealingFlop4 1s ease-in-out 0s 1 normal forwards;
}
@keyframes dealingFlop4{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-160%);
    }
}
@keyframes dealingFlop3{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-280%);
    }
}
@keyframes dealingFlop2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-395%);
    }
}
@keyframes dealingFlop1{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-510%);
    }
}
@keyframes dealingFlop0{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-620%);
    }
}


.dealerCardsPlacement {
    display: flex;
    align-items: center;
    justify-content: center;

}
.dealerCardsPlacement img{
    position: absolute;
    right:0;
    height: auto;
    width: 4vw;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 1%;
}

@media (max-width:600px) {
    .dealerCardsPlacement img{
        width: 5vw;
    }
    .tableCardsPlacement img{
        width: 5vw;
    }

}

.profile{
    position: absolute;
    display: flex;
}
.profile0{
   top:-30%; 
}

.profile1{
    top:-30%;
    right:20%;
}

.profile2{
    top:-5%;
    right:-3%;
}

.profile3{
    bottom: 20%;
    right:-3%;
}
.profile4{
    bottom:-15%;
    right:20%;
}

.profile5{
    bottom: -15%;
}

.profile6{
    bottom: -15%;
    left:20%;
}

.profile7{
    bottom: 20%;
    left:-3%;
}

.profile8{
    top: -5%;
    left: -3%;
}

.profile9{
    top:-30%;
    left:20%;
}

