.table{
    border-style: solid;
    border-radius: 150px;
    border-width: 1.5vw;
    border-color: rgb(0, 4, 17);

    width: 60vw;
    min-width: 400px;
    height: 40vh;


    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 0 50px rgb(0, 0, 0);
    background-color: #083f87;


    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(#083f87 15%, transparent 20%) 0 1px,
        radial-gradient(#083f87 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    flex-wrap: wrap;    

}



.container-cards{
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    width: 30vw;
    height: 20vh;
}



.tableCardsPlacement {
    border-style: none;
    border-width: 1px;
    border-color: #ffffff;
    height: 100%;
    width: 80%;

    justify-content: center;
    align-items: center;
    display: flex;

}
/*SunGlass Poker text*/
.container-cards p{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font: italic small-caps  1.5vw/2 cursive;
}
.tableCardsPlacement img{
    display: flex;
    position: absolute;
    right: 0;
    height: auto;
    width: 4vw;
    z-index: 1;
    margin:0 1% 0 1%; 
}

/*new approch*/
.tableCard {
    display: flex;
    align-items: center;
    width: 4vw;
    height: 100%;
    position: absolute;
    right:0;
    z-index: 1;
    margin:0 1% 0 1%; 
    transition: transform 2s, right 2s;
    transform-style: preserve-3d;
  }

.flipped {
    transform: rotateY(-180deg);
    transform-origin: center;
}
.tableCardBack , .tableCardFront{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;   
    box-shadow: -5px 5px 10px black;
 
}
.tableCardFront{
    transform: rotateY(-180deg);

}


/*dealing the flop animation*/
.dealingFlop0 {
    display: flex;
    right:85%;
}
.dealingFlop1 {
    display: flex;
    right: 70%;
}
.dealingFlop2 {
    display: flex;
    right: 55%;
}
.dealingFlop3 {
    display: flex;
    right: 40%;
}
.dealingFlop4 {
    display: flex;
    right: 25%;    
}
/* @keyframes dealingFlop4{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-160%);
    }
}
@keyframes dealingFlop3{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-280%);
    }
}
@keyframes dealingFlop2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-395%);
    }
}
@keyframes dealingFlop1{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-510%);
    }
}
@keyframes dealingFlop0{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-620%);
    }
} */


.dealerCardsPlacement {
    display: flex;
    align-items: center;
    justify-content: center;

}
.dealerCardsPlacement img{
    position: absolute;
    right:0;
    height: auto;
    width: 4vw;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1%;
}

@media (max-width:600px) {
    .dealerCardsPlacement img{
        width: 5vw;
    }
    .tableCardsPlacement img{
        width: 5vw;
    }

}

.profile{
    position: absolute;
    display: flex;
}
.profile0{
   top:-30%; 
}

.profile1{
    top:-30%;
    right:20%;
}

.profile2{
    top:-5%;
    right:-3%;
}

.profile3{
    bottom: 20%;
    right:-3%;
}
.profile4{
    bottom:-15%;
    right:20%;
}

.profile5{
    bottom: -15%;
}

.profile6{
    bottom: -15%;
    left:20%;
}

.profile7{
    bottom: 20%;
    left:-3%;
}

.profile8{
    top: -5%;
    left: -3%;
}

.profile9{
    top:-30%;
    left:20%;
}

