.table{
    border-style: solid;
    border-radius: 150px;
    border-width: 20px;
    border-color: rgb(0, 4, 17);

    width: calc(50% * var(100vh));
    min-width: 600px;
    height: 300px;

    display: flex;
    margin: 15%;
    align-items: center;

    box-shadow: inset 0 0 50px rgb(0, 0, 0);
    background-color: #083f87;

}


.cardsPlacement{
    border-style:solid;
    border-width: 1px;
    border-color: #ffffff;
    height: 50px;
    min-width: 200px;
    margin: 0 0 0 30%;

    justify-content: center;
    align-items: center;
    display: flex;

    font: italic small-caps  16px/2 cursive;
}
.sunGlassText{
    color:aliceblue
}


.cardDuckPlacement {
    border-style:solid;
    border-width: 1px;
    border-color: #ffffff;
    height: 50px;
    min-width: 40px;
    margin-left: 10px;
    
}

