.table{
    border-style: solid;
    border-radius: 150px;
    border-width: 1.5vw;
    border-color: rgb(0, 4, 17);

    width: 60vw;
    min-width: 400px;
    height: 40vh;


    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 0 50px rgb(0, 0, 0);
    background-color: #083f87;

    flex-wrap: wrap;    
}


.container-cards{
    position: absolute;
    display: flex;
    align-items: center;
    width: 20vw;
    color: aliceblue;
}
.tableCardsPlacement {
    border-style: solid;
    border-style:solid;
    border-width: 1px;
    border-color: #ffffff;
    height: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    font: italic small-caps  16px/2 cursive;
}

.dealerCardsPlacement {
    border-style:solid;
    border-width: 1px;
    border-color: #ffffff;
    height: 50px;
    width: 17.3%;
    margin-left: 10px;
    
}

.profile{
    position: absolute;
    display: flex;
}
.profile0{
   top:-30%; 
}

.profile1{
    top:-30%;
    right:20%;
}

.profile2{
    top:-5%;
    right:-3%;
}

.profile3{
    bottom: 20%;
    right:-3%;
}
.profile4{
    bottom:-15%;
    right:20%;
}

.profile5{
    bottom: -15%;
}

.profile6{
    bottom: -15%;
    left:20%;
}

.profile7{
    bottom: 20%;
    left:-3%;
}

.profile8{
    top: -5%;
    left: -3%;
}

.profile9{
    top:-30%;
    left:20%;
}

