/* Styles pour le conteneur principal */
div div.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: 90%;
}

/* Styles pour le premier div.accueil contenant le logo SunGameStudio */

div div.accueil {
  display: flex;
  align-items: center;
  justify-content: center;
}

div div.accueil button.invite a:visited {
  color: white;
}
