/*the table*/
.container-table{
    border-radius: 150px;

    width: 60vw;
    min-width: 400px;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 
        inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
        0 0 1vw 0.8vW rgb(26, 94, 154),
        0 0 0 1vW rgb(0, 0, 0),
        0 0 0 2vW rgb(31, 33, 36),
        inset 0 0 0 2vW rgb(43, 41, 41),
        0 0 5vw 3vw black;
    background-color: #083f87;


    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(#083f87 15%, transparent 20%) 0 1px,
        radial-gradient(#083f87 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    flex-wrap: wrap;    
}

/*table size and color change animation*/
.container-menu, .container-table{
    position: relative;

    width: 60vw;
    min-width: 400px;
    height: 40vh;
    
    transition: width 1s ease, height 1s ease, box-shadow 0.5s ease;
}
.container-menu{
    width: 65vw;
    height: 50vh;

    box-shadow: 
    inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
    0 0 1vw 0.8vW rgb(146, 146, 146),
    0 0 0 1vW rgb(0, 0, 0),
    0 0 0 2vW rgb(31, 33, 36),
    inset 0 0 0 2vW rgb(43, 41, 41),
    0 0 5vw 3vw black;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#4a4a4a 15%, transparent 20%) 0 1px,
    radial-gradient(#4a4a4a 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
} 

/*cards and users disappearing animation*/
.profiles.disappear, .container-cards.disappear{    
    opacity: 0;
    transition: opacity 1s ease-out;
}
.profiles{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-out;
}

/*main center table cards container*/
.container-cards{
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    width: 30vw;
    height: 20vh;
    transition: opacity 1s ease-out;
}

/*distribution cards*/
/* .container-cardDistribution{
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: aqua;
    z-index: 5;
} */

/*card distribution animation*/
.cardPlayer{
    display: flex;
    align-self: center; 
    align-items: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:1%;
    top:20%;
}
.transition1{
    transition: right 1s ease,top 1s ease,opacity 1s ease;
}
.transition2{
    transition: right 1s ease 0.2s,top 1s ease 0.2s,opacity 1s ease 0.2s;
}
.cardPlayer img{
    display: flex;
    align-self: center; 
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: auto;
    position: absolute;
    right:0;
    top:0;
    margin: 1%;
}
.profile0cards{
    top:-100%; 
    right:43%;
    opacity: 0;
}
.profile1cards{
    top:-100%;
    right:-5%;
    opacity: 0;
}
.profile2cards{
    top:-30%;
    right:-55%;
    opacity: 0;
}
.profile3cards{
    top:60%;
    right:-55%;
    opacity: 0;
}
.profile4cards{
    top: 120%;
    right:-5%;
    opacity: 0;
}
.profile5cards{
    top: 120%;
    right:43%;
    opacity: 0;
}
.profile6cards{
    top:120%;
    right:91.5%;
    opacity: 0;
}
.profile7cards{
    top:60%;
    right:141%;
    opacity: 0;
}
.profile8cards{
    top:-33%;
    right:141%;
    opacity: 0;
}
.profile9cards{
    top:-100%;
    right:91.5%;
    opacity: 0;
}


/*users placements around the table*/
.profile{
    position: absolute;
    display: flex;
}
.profile0{
   top:-30%; 
}

.profile1{
    top:-30%;
    right:20%;
}

.profile2{
    top:-5%;
    right:-5%;
}

.profile3{
    bottom: 15%;
    right:-5%;
}
.profile4{
    bottom:-25%;
    right:20%;
}

.profile5{
    bottom: -25%;
}

.profile6{
    bottom: -25%;
    left:20%;
}

.profile7{
    bottom: 15%;
    left:-5%;
}

.profile8{
    top: -5%;
    left: -5%;
}

.profile9{
    top:-30%;
    left:20%;
}
 
