/*the table*/
.container-table{
    border-radius: 150px;

    width: 60vw;
    min-width: 400px;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 
        inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
        0 0 1vw 0.8vW rgb(26, 94, 154),
        0 0 0 1vW rgb(0, 0, 0),
        0 0 0 2vW rgb(31, 33, 36),
        inset 0 0 0 2vW rgb(43, 41, 41),
        0 0 5vw 3vw black;
    background-color: #083f87;


    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(#083f87 15%, transparent 20%) 0 1px,
        radial-gradient(#083f87 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    flex-wrap: wrap;    
}

/*table size and color change animation*/
.container-menu, .container-table{
    position: relative;

    width: 65vw;
    min-width: 400px;
    height: 45vh;
    
    transition: width 1s ease, height 1s ease, box-shadow 0.5s ease , border-radius 1s ease;
}
.container-menu{
    width: 65vw;
    height: 50vh;

    box-shadow: 
    inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
    0 0 1vw 0.8vW rgb(146, 146, 146),
    0 0 0 1vW rgb(0, 0, 0),
    0 0 0 2vW rgb(31, 33, 36),
    inset 0 0 0 2vW rgb(43, 41, 41),
    0 0 5vw 3vw black;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#4a4a4a 15%, transparent 20%) 0 1px,
    radial-gradient(#4a4a4a 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

/*container for the logIn*/
.container-logIn{
    border-radius: 100px;
    width: 40vw;
    height: 80vh;

    box-shadow: 
    inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
    0 0 1vw 0.8vW rgb(181, 194, 5),
    0 0 0 1vW rgb(0, 0, 0),
    0 0 0 2vW rgb(31, 33, 36),
    inset 0 0 0 2vW rgb(43, 41, 41),
    0 0 5vw 3vw black;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#a5a5a5 15%, transparent 20%) 0 1px,
    radial-gradient(#a5a5a5 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.container-acceuil{
    box-shadow: 
    inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
    0 0 1vw 0.8vW rgb(115, 122, 16),
    0 0 0 1vW rgb(0, 0, 0),
    0 0 0 2vW rgb(31, 33, 36),
    inset 0 0 0 2vW rgb(43, 41, 41),
    0 0 5vw 3vw black;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#a5a5a5 15%, transparent 20%) 0 1px,
    radial-gradient(#a5a5a5 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    
}


.container-tutorial{
    border-radius: 50px;

    box-shadow: 
    inset 0 0 50px rgb(0, 0, 0), /*inner table shadow*/
    0 0 1vw 0.8vW rgb(79, 83, 16),
    0 0 0 1vW rgb(0, 0, 0),
    0 0 0 2vW rgb(31, 33, 36),
    inset 0 0 0 2vW rgb(43, 41, 41),
    0 0 5vw 3vw black;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#a5a5a56c 15%, transparent 20%) 0 1px,
    radial-gradient(#a5a5a56c 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    /* overflow:scroll; */
}


/*cards and users disappearing animation*/
.profiles.disappear, .container-cards.disappear{    
    opacity: 0;
    transition: opacity 0.1s ease-out;
}
.profiles{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-out;
}

/*main center table cards container*/
.container-cards{
    position: absolute;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    width: 30vw;
    height: 20vh;
    transition: opacity 1s ease-out;
}


/*users placements around the table*/
.profile{
    position: absolute;
    display: flex;
}
.profile0{
   top:-30%; 
}

.profile1{
    top:-30%;
    right:20%;
}

.profile2{
    top:-5%;
    right:-5%;
}

.profile3{
    bottom: 15%;
    right:-5%;
}
.profile4{
    bottom:-25%;
    right:20%;
}

.profile5{
    bottom: -25%;
}

.profile6{
    bottom: -25%;
    left:20%;
}

.profile7{
    bottom: 15%;
    left:-5%;
}

.profile8{
    top: -5%;
    left: -5%;
}

.profile9{
    top:-30%;
    left:20%;
}
 
.btn-gameStart{
    width: 15vw;
    height: 4vh;
    margin-top: 10px;
    position: absolute;
    bottom: 13%;
    background-color: #5c5f17;
    border-radius: 20px;
    box-shadow: 0 5px 20px black;
    font-size: 1vw;
    font-weight: bold;
}
