.container {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.login-box {
  background-color: white;
  width: 400px;
  padding: 20px 40px;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  box-shadow: 10px 15px rgba(253, 204, 22, 1);
}

.text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-bottom: 20px;
  z-index: 4;
  display: block;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.base {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: rgba(237, 242, 247, 1);
  border-bottom: 2px solid rgba(253, 204, 22, 1);
  margin-bottom: 10px;
}

.button {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  color: black;
  background-color: rgba(253, 204, 22, 1);
}

.login-button:hover {
  background-color: rgba(150, 150, 100, 1);
}

.forgot-button {
  color: grey;
  cursor: pointer;
  border: 0px;
  background-color: white;
  padding: 10px;
}

.google-button {
  color: black;
  font-weight: bold;
}

.register-button {
  color: grey;
}

.register-button:hover {
  background-color: rgb(255, 255, 255);
}
