.range{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: none;
    border-radius: 10px;
    box-shadow: unset;
    border: 1px solid rgb(251, 251, 251);
}

.range .field{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 90%;
}

 /* .range .field .minValue .maxValue{
    position: absolute;
    font-size: 2vh;
    font-weight: 600;
} 
.minValue ,.maxValue{
    color:white;
}

 .range .field .minValue {
    left: -22px;
}

.range .field .maxValue {
    left: -43px;
}  */

.minValue , .maxValue{
    font-size: 100%;
    color: rgb(255, 255, 255);
}
.maxValue{
    margin-left: 2%;
}
.minValue{
    margin-right: 2%;
}

.range .field input{
    appearance:unset;
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.range .field input::-webkit-slider-thumb{
    -webkit-appearance: unset;
    height: 20px;
    width: 20px;
    background:rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: unset;
}

@media (max-width:900px){
    
    .range .field input::-webkit-slider-thumb{
        height: 10px;
        width: 10px;
    }
    .range .field input{
        height: 2px;
    }
    .minValue , .maxValue{
        font-size: 10px;
        color: rgb(190, 190, 190);
    }
    

}


/* 
.range .sliderValue{
    position: relative;
    width: 100%;
}

.range .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    color: white;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
}

.range .sliderValue span::after{
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: purple;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3 solid white;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
} */