.container-textInputComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-connectionDefault {
  width: 19.5vw;
  height: 5vh;
  font-size: 16px;
  padding-left: 60px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: rgba(237, 242, 247, 1);
  margin-bottom: 1vh;
  transition: width 0.5s ease, height 0.5s ease;
}
#dark .input-connectionDefault{
  border-bottom: 2px solid var(--color1-dark);
}
#light .input-connectionDefault{
  border-bottom: 2px solid var(--color1-light);
}
.input-connectionDefault::placeholder {
  color: #999;
  font-size: 2vh;
}
.container-textInputComponent p {
  color: #f63e3e;
  font-size: 0.8vw;
  padding: 0;
  margin-top: -0.7vh;
  margin-bottom: 2vh;
}
.input-serverRoomPassword {
  width: 90%;
  height: 3vh;
  padding-left: 10%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background-color: rgba(237, 242, 247, 1);
  border-bottom: 2px solid #4d6478;
}
#dark .input-component-error,
#light .input-component-error {
  border-bottom: 2px solid #f63e3e;
}

.container-textInputComponent2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container-textInputComponent2 p {
  margin: 0;
  font-size: 1vw;
}
.input-searchBar {
  width: 20.5vw;
  height: 2vw;
  opacity: 0.5;
  background-color: var(--color1-light);
  border: unset;
  padding-left: 35px;
  border-radius: 10px 10px 0 0;
  transition: width 0.5s ease, height 0.5s ease, font-size 1s ease;
}
.input-searchBar::placeholder {
  font-size: 1vw;
  margin: 0;
}
.input-searchBar::-webkit-input-placeholder {
  font-size: 1vw;
  margin: 0;
}
.input-icon-search {
  background: url("/public/static/media/assets/images/icons/black/search.png") no-repeat,
    rgb(255, 255, 255);
  background-position: 10px;
  background-size: 2vh;
}

.input-icon-email {
  background: url("/public/static/media/assets/images/icons/black/email.png") no-repeat,
    rgb(255, 255, 255);
  background-position: 20px;
  background-size: 2.5vh;
}
.input-icon-profile {
  background: url("/public/static/media/assets/images/icons/black/profile.png") no-repeat,
    rgb(255, 255, 255);
  background-position: 20px;
  background-size: 2.5vh;
}
.input-icon-password {
  background: url("/public/static/media/assets/images/icons/black/password.png") no-repeat,
    rgb(255, 255, 255);
  background-position: 15px;
  background-size: 2.5vh;
}
.input-icon-passwordRepeat {
  background: url("/public/static/media/assets/images/icons/black/password-repeat.png")
      no-repeat,
    rgb(255, 255, 255);
  background-position: 15px;
  background-size: 2.5vh;
}

.input-icon-GameName {
  background: url("/public/static/media/assets/images/icons/black/name.png") no-repeat,
    rgb(255, 255, 255);
  background-position: 15px;
  background-size: 2.5vh;
}

.input-chatBox {
  position: absolute;
  bottom: 2%;
  width: 85%;
  height: 10%;
  padding: 0 10px 0 10px;
  font-size: 90%;
  border-radius: 10px;
  border: unset;
  box-shadow: inset 0 0 5px black;
  background-color: rgba(237, 242, 247, 1);
  transition: width 0.5s ease, height 0.5s ease, font-size 1s ease;
}
.input-chatBox-V2 {
  position: absolute;
  bottom: 2%;
  width: 85%;
  height: 10%;
  padding: 0 10px 0 10px;
  font-size: 90%;
  border-radius: 10px;
  border: unset;
  box-shadow: inset 0 0 5px black;
  background-color: rgba(237, 242, 247, 1);
  transition: width 0.5s ease, height 0.5s ease, font-size 1s ease;
}

/* .input-chatBox::placeholder {
} */
