.container-textInputComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-login {
  width: 20vw;
  height: 4.5vh;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-color: rgba(237, 242, 247, 1);
  border-bottom: 2px solid rgb(115, 122, 16);
  margin-bottom: 10px;
  transition: width 0.5s ease , height 0.5s ease;
}


.container-textInput p {
  color: #f58282;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 15px; 
}

.input-component-error{
    border-bottom: 2px solid #f58282;
}