.container-select-rank label {
  margin-right: 10px;
  font-size: 16px;
  color: white;
}

.container-select-rank {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-select-rank label {
  font-size: 1vw;
  color: white;
}
.select-rank {
  padding: 5px 25px 5px 10px;
  font-size: 1vw;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./../../assets/images/icons/black/arrow-down.png"); /* SVG arrow */
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px;
}
.select-rank::-ms-expand {
  display: none;
}
.container-select-rank img {
  width: 1vw;
}
.container-select-rank p {
  margin-right: 10px;
}