.listTableWindow {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0;
  overflow: scroll;
  font-size: 2vh;
  display: flex;
  justify-content: center;
}

.listTableWindowPanel {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0%;
}


.listTableHeader,
.tableRow {
  display: flex;
  justify-content: space-between;
}

.listTableHeader {
  position: absolute;
  width: calc(90% + 12px);
}
.listTableBody {
  margin-top: 5vh;
  width: 100%;
}

.headerItem,
.rowItem {
  flex: 1;
  text-align: center;
}

.headerItem:first-child,
.rowItem:first-child {
  flex: 2;
}

.headerItem {
  padding: 1vh;
  background: #333;
  border: 1px solid #1b1b1bb5;
  border-radius: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.tableRow {
  padding: 1.5vh 0;
  border-bottom: 1px solid #444;
}

.logo-profile {
  color: white;
}

.container-listButton,
.container-loadMore {
  position: absolute;
  bottom: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tableRow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2vw;
  height: auto;
}