.listTableWindow {
  height: 90%;
  width: 90%;
  color: white;
  margin: 0;
  overflow: scroll;
  font-size: 2vh;
}

.listTableHeader,
.tableRow {
  display: flex;
  justify-content: space-between;
}

.listTableHeader{
  width: 72.1vw;
  position:fixed;
}
.listTableBody{
  margin-top: 5vh;
}

.headerItem,
.rowItem {
  flex: 1;
  text-align: center;
}

.headerItem:first-child,
.rowItem:first-child {
  flex: 2;
}

.listTableHeader .headerItem {
  padding: 1vh;
  background: #333;
  border: 1px solid #1b1b1bb5;
}

.tableRow {
  padding: 1.5vh 0;
  border-bottom: 1px solid #444;
}

.logo-profile {
  color: white;
}

.container-listButton,
.container-loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableRow img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2vw;
  height: auto;
}





