.settingsMenu {
  box-shadow: none;
  filter: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

  font-weight: 800;
}
.container-settingsParameteres{
  height: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.settingsMenu h1 {
  color: aliceblue;
  font-size: calc(2vh + 1vw);
  margin-top: 0;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: flex;
  width: 4vw;
  height: 2.3vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider--------------------------------- */
.container-switchSettings {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.container-switchSettings p {
  margin:0;
  font-size: calc(1vh + 0.7vw);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8vw;
  width: 1.8vw;
  left: 0.2vw;
  bottom: 0.25vw;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#dark input:checked + .slider {
  background-color: var(--color1-dark);
}
#light input:checked + .slider {
  background-color: var(--color1-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.8vw);
  -ms-transform: translateX(1.8vw);
  transform: translateX(1.8vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50%;
}

.slider.round:before {
  border-radius: 50%;
}

/* theme switch */
.container-switch-theme .switch {
  position: relative;
  display: flex;
}

.container-switch-theme .slider {
  background-color: var(--color1-light);
}

.container-switch-theme .slider:before {

  border-radius: unset;
  background: url(./../../assets/SunGameStudio_logo.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.container-switch-theme input:checked + .slider {
  background-color: #1a5aae;
}

.container-switch-theme input:checked + .slider:before {
  background: url(./../../assets/SunGameStudio_logo_dark.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

/*language selector*/
.container-select-lang {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-select-lang label {
  font-size: 1vw;
  color: white;
}
.select-lang {
  padding: 5px 25px 5px 10px;
  font-size: 1vw;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./../../assets/images/icons/black/arrow-down.png"); /* SVG arrow */
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px;
}
.select-lang::-ms-expand {
  display: none;
}
.container-select-lang img {
  width: 1vw;
}
.container-select-lang p {
  margin-right: 10px;
}
