/*text glitch*/
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.glitch {
    position: relative;
    font-size: 1.5vw;
    font-family: "Monaco", monospace;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff31;
    letter-spacing: 0.5vw;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: rgba(0, 255, 255, 0.238);
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: rgba(255, 0, 255, 0.235);
    z-index: -2;
}

@keyframes glitch-color {
    0% {
    transform: translate(0);
    }

    20% {
    transform: translate(-3px, 3px);
    }

    40% {
    transform: translate(-3px, -3px);
    }

    60% {
    transform: translate(3px, 3px);
    }

    80% {
    transform: translate(3px, -3px);
    }

    to {
    transform: translate(0);
    }
}

.glitch-accueil{
    position:absolute;
    bottom: 23%;
}
#light .glitchStyle-accueil::before{
    color: #a57423;

}
#light .glitchStyle-accueil::after{
    color: #35240a;

}

#dark .glitchStyle-accueil::before{
    color: #4D6478;

}
#dark .glitchStyle-accueil::after{
    color: #4D6478;

}