/* Styles pour le conteneur principal */
div div.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}

/* Styles pour le premier div.accueil contenant le logo SunGameStudio */
div div.accueil > div:first-child {
    text-align: center;
}
div div.accueil button.jouer {
    height: 100%;
    padding: 100px 250px;
    margin: 0 5px;
    background-color: #404040; /* Couleur de fond des boutons */
    color: white;
    border: none;
    border-radius: 32px; /* Coins arrondis */
    cursor: pointer;
    font-size: 80px;
}

div div.accueil button.jouer a{
    text-decoration: none;

}
div div.accueil button.jouer a:visited{
    color: white;
}

div div.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
}
div div.accueil button.invite {
    height: 100%;
    padding: 10px 25px;
    margin: 0 5px;
    background-color: #404040; /* Couleur de fond des boutons */
    color: white;
    border: none;
    border-radius: 0px 0px 16px 16px; /* Coins arrondis */
    cursor: pointer;
    margin-left: 400px;
}

div div.accueil button.invite input {
    color: white;
    width: 100%;
    box-sizing: border-box;
    background-color: #404040; /* Couleur de fond du champ de texte, changez selon vos besoins */
    /* Styles supplémentaires pour le champ de texte si nécessaire */
  }

div div.accueil button.invite a:visited{
    color: white;
}