/* Styles pour le conteneur principal */
div.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le premier div.accueil contenant le logo SunGameStudio */
div.accueil > div:first-child {
    text-align: center;
}

/* Styles pour le bouton JOUER */
button:nth-child(2) {
    margin-top: 10px; /* Espace entre le premier bouton et le logo SunGlassPoker */
}

/* Styles pour le deuxième bouton et le logo SunGlassPoker */
div.accueil > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px; /* Espace entre le premier div.accueil et le deuxième div.accueil */
}
