.container-gameAction {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh;
}
.container-cashSituation{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.userCoinCashs{
  color:white;
  text-shadow: 0 0 15px black;
  opacity: 0.5;
}
.container-raiseButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}
.container-raiseButtons Button{
  width:8vw;
}
.rangeSlide {
  width: 100%;
  height: 4vh;
}
.container-ActionButtons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: 1;
  bottom: 0;
  transition: transform 1s ease;
}
.btn-mainAction {
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2vh;
  height: 4vh;
  width:10vw;
  padding: 0;
  cursor: pointer;
  margin-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border: 1px solid white;
  box-shadow: 1px 1px 10px black;
  white-space: nowrap;
  text-align: center;
}

@media (max-height: 500px) {
  .btn-mainAction{
    font-size: 2.5vh;
    height: 7vh;
    width: 9vw;
  }
  .container-gameAction {
    width: none;
  }
}

.btn-mainAction:hover {
  filter: brightness(150%);
  text-shadow: unset;
  background-color: white;
  color: black;
}



