

.logoconnexion {
  width: 100px;
  margin-bottom: 20px;
}

.logo-acceuil {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  
  width:100%;

  position: absolute;
  bottom: 40%;
  right:0;
  left:0;

  transition: top 1s ease, bottom 1s ease, right 1s ease,left 1s ease,opacity 0.5s ease;
}

.logo-tutorial{
  bottom:110%;
  z-index: -1;
}

.logo-login{
  left:-90%;
  z-index: -1;
  opacity: 100%;
}


.logo-acceuil img{
  width:12vw;
  transition: width 1s ease;
}
.logo-tutorial img{
  width: 10vw;
}

.logo-login img{
  width: 13vw;
}

.logo-success{
  left:0;
  right:0;
  bottom: 0;
  top:0;
  opacity: 0;
}

.logo-success img{
  width: 5000vw;

}

.logo-acceuil.disappear{    
  opacity: 0;
}

.logo-profile{
  bottom:110%;
  z-index: -1;
}

