.logoconnexion {
  width: 100px;
  margin-bottom: 20px;
}

.logo-acceuil {
  width:10vw;
  position: absolute;
  top:20%;
  transition: top 1s ease, bottom 1s ease;
}

.logo-tutorial{
  top: unset;
  bottom:110%;
  z-index: 0;
}