#dark Button,
#light Button {
  transition: background-color 1s ease;
}

#dark .back-color1 {
  background-color: #004577;
}

#dark .back-color2 {
  background-color: #4d6478;
}

#dark .back-color3 {
  background-color: #303b44;
}

#light .back-color1 {
  background-color: #a57423;
}
#light .back-color2 {
  background-color: #866839;
}
#light .back-color3 {
  background-color: #35240a;
}

Button:hover{
  cursor: pointer;
  text-shadow: unset;
  filter: brightness(150%);
}
/* Button:hover img,Button:hover span{
  filter: invert(100%);
} */


.btn-connectionDefault {
  width: 24.5vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 3vh;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.google-button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-button img {
  width: 3vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.register-button {
  margin-top: 5%;
}

.btn-list_table {
  width: 100%;
  height: 3vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2vh;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-list_table_full {
  background-color: rgb(107, 0, 0);
}

.btn_onglets_shop {
  height: 15%;
  width: 90%;
  margin-bottom: 4%;
  border-radius: 0 20px 20px 20px;
  box-shadow: inset 0 0 10px black;
  font-size: min(1.5vw, 100px);
}
.btn_onglets_shop2 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 1vw;
  box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.btn-successWindow{
  background-color: var(--good-green);
  width: 30%;
  height: 4vh;
  border-radius: 10px;
}

.btn-serverPage{
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-top: 10px;
}

.btn-leaveConfirmation{
  background-color: var(--error-red);
  width: 20%;
  height: 4vh;
  border-radius: 10px;
}
.btn-leaveCancel{
  background-color: var(--color-darkGray);
  width: 20%;
  height: 4vh;
  border-radius: 10px;
}
.btn-mainAction {
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2vh;
  height: 4vh;
  width:10vw;
  padding: 0;
  cursor: pointer;
  margin-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border: 1px solid white;
  box-shadow: 1px 1px 10px black;
  white-space: nowrap;
  text-align: center;
}
.btn-mainAction.disabled{
  opacity: 0.5; /* Réduit l'opacité pour indiquer que le bouton est désactivé */
  cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
  pointer-events: none; /* Désactive les événements de pointeur, ce qui rend le bouton non cliquable */
  filter: grayscale(100%); /* Convertit le bouton en nuances de gris */
  background-color: #ccc; /* Vous pouvez personnaliser la couleur du fond du bouton désactivé */
  color: #666; /* Vous pouvez personnaliser la couleur du texte du bouton désactivé */
}
.btn-mainAction:hover {
  filter: brightness(150%);
  text-shadow: unset;
  background-color: white;
  color: black;
}
@media (max-height: 500px) {
  .btn-mainAction{
    font-size: 2.5vh;
    height: 7vh;
    width: 9vw;
  }}
.btn-showCard{
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.5vh;
  height: 4vh;
  width:7vw;
  padding: 0;
  cursor: pointer;
  margin-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border: 1px solid white;
  box-shadow: 1px 1px 10px black;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5%;
}
.btn-showCard img{
  width: 1.5vh;
}
.btn-showCard:hover {
  filter: brightness(150%);
  text-shadow: unset;
  background-color: white;
  color: black;
}
.btn-showCard:hover img{
  filter: invert(100%);
}

.btn-loadMore{
  width: 15vw;
  height: 4vh;
  margin-top: 10px;
  position: absolute;
  bottom: 13%;
  background-color: #4d6478;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}

.btn-gameStart {
  width: 15vw;
  height: 4vh;
  margin-top: 10px;
  position: absolute;
  bottom: 13%;
  background-color: #4d6478;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}

.btn-gameJoin {
  position: unset;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #033f61;
}

.btn-gameStart2{
  width: 15vw;
  height: 4vh;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}

.btn-coinsShop{
  width:fit-content;
  height: fit-content;
  border-radius: 0 0 0.5vw 0.5vw;
  white-space: nowrap;
  padding: 0.4vw 1vw 0.4vw 1vw ;
  box-shadow: 0 0px 5px rgb(0, 0, 0);
  position:absolute;
  top:100%;
  background-color: unset;
  opacity: 0.7;
}
.btn-coinsShop:hover{
  opacity:1;
  border:solid 1px white;
  border-top: unset;
}
.btn-coinsShop span{
  font-size: calc(0.5vh + 1vw);
}

.btn-coinBuy{
  width: 90%;
  height: 15%;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(120deg, var(--color3-light) -30%, var(--color1-light) 70%);
  box-shadow: 
    inset 0 0 1vw rgba(0, 0, 0, 0.5),
     0 0 1vw black;
}
.btn-coinBuy span{
  padding-left: 10%;
  font-size: 1.8vw;
  opacity: 0.7;
  color: black;
}
.btn-coinBuy img{
  width: 13%;
  padding-right: 10%;
  opacity: 0.7;
}