#dark Button,
#light Button {
  transition: background-color 1s ease;
}

button:focus{
  outline: none;
}

#dark .back-color1 {
  background: var(--gradient-1-dark);
}

#dark .back-color2 {
  background: var(--gradient-2-dark);
}

#dark .back-color3 {
  background: var(--gradient-2-dark);
}

#light .back-color1 {
  background: var(--gradient-1-light);
}
#light .back-color2 {
  background: var(--gradient-2-light);
}
#light .back-color3 {
  background: var(--gradient-3-light);
}

#light .back-color-grey,
#dark .back-color-grey {
  background: var(--gradient-gray);
}

Button:hover {
  cursor: pointer;
  text-shadow: unset;
  filter: brightness(150%);
}

.btn-connectionDefault {
  width: 24.5vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 3vh;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}

.google-button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-button img {
  width: 3vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.register-button {
  margin-top: 5%;
}

.btn-list_table {
  width: 100%;
  height: 3vh;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2vh;
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-list_table_full {
  background-color: rgb(107, 0, 0);
}

.btn_onglets_shop {
  height: 15%;
  width: 90%;
  margin-bottom: 4%;
  border-radius: 0 20px 20px 20px;
  box-shadow: inset 0 0 10px black;
  font-size: min(1.5vw, 100px);
}
.btn_onglets_shop2 {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 1vw;
  box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

.btn-serverPage {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin-top: 10px;
}
.btn-successWindow {
  background: var(--gradient-green);
  font-size: 1vw;
  width: 30%;
  height: 5vh;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.btn-leaveConfirmation {
  background: var(--gradient-red);
  font-size: 1vw;
  width: 25%;
  height: 5vh;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.btn-leaveCancel {
  background: var(--gradient-gray);
  font-size: 1vw;
  width: 25%;
  height: 5vh;
  border-radius: 1vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.btn-mainAction {
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2vh;
  height: 4vh;
  width: 10vw;
  padding: 0;
  cursor: pointer;
  margin-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border: 1px solid white;
  box-shadow: 1px 1px 10px black;
  white-space: nowrap;
  text-align: center;
}
.btn-mainAction.disabled {
  opacity: 0.5; /* Réduit l'opacité pour indiquer que le bouton est désactivé */
  cursor: not-allowed; /* Change le curseur pour indiquer que le bouton est désactivé */
  pointer-events: none; /* Désactive les événements de pointeur, ce qui rend le bouton non cliquable */
  filter: grayscale(100%); /* Convertit le bouton en nuances de gris */
  background-color: #ccc; /* Vous pouvez personnaliser la couleur du fond du bouton désactivé */
  color: #666; /* Vous pouvez personnaliser la couleur du texte du bouton désactivé */
}
.btn-mainAction:hover {
  filter: brightness(150%);
  text-shadow: unset;
  background-color: white;
  color: black;
}
.btn-mainAction.raise {
  border: unset;
  background: var(--gradient-red);
}
.btn-mainAction.call {
  border: unset;
  background: var(--gradient-green);
}
@media (max-height: 500px) {
  .btn-mainAction {
    font-size: 2.5vh;
    height: 7vh;
    width: 9vw;
  }
}
.btn-showCard {
  color: aliceblue;
  border-radius: 10px;
  font-weight: 600;
  font-size: calc(0.5vh+0.5vw);
  height: fit-content;
  width: fit-content;
  min-width: 7vw;
  padding: 5%;
  cursor: pointer;
  margin-bottom: unset;
  box-shadow: unset;
  background-color: unset;
  border: 1px solid white;
  box-shadow: 1px 1px 10px black;
  white-space: nowrap;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.btn-showCard img {
  width: 1.5vh;
}
.btn-showCard:hover {
  filter: brightness(150%);
  text-shadow: unset;
  background-color: white;
  color: black;
}
.btn-showCard:hover img {
  filter: invert(100%);
}

.btn-loadMore {
  width: 15vw;
  height: 4vh;
  margin-top: 10px;
  position: absolute;
  bottom: 13%;
  background-color: #4d6478;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}

.btn-gameStart {
  min-width: 15vw;
  width: fit-content;
  height: 4vh;
  margin-top: 10px;
  position: absolute;
  bottom: 13%;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}
.btn-gameJoin {
  position: unset;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #033f61;
}

.btn-gameStart2 {
  width: 15vw;
  height: 4vh;
  border-radius: 20px;
  box-shadow: 0 5px 20px black;
  font-size: 1vw;
  font-weight: bold;
}

.btn-coinsShop {
  width: fit-content;
  height: fit-content;
  border-radius: 0 0 0.5vw 0.5vw;
  white-space: nowrap;
  padding: 6.5vh 1vw 0.4vw 1vw;
  position: absolute;
  top: 0%;
  background-color: unset;
  opacity: 0.8;
}
#light .btn-coinsShop {
  box-shadow: 0 0 1vw 0.3vw var(--color1-light);
  background: linear-gradient(
    120deg,
    var(--color3-light) -30%,
    var(--color1-light) 70%
  );
}
#dark .btn-coinsShop {
  box-shadow: 0 0 1vw 0.3vw var(--color1-dark);
  background: linear-gradient(
    120deg,
    var(--color3-dark) -30%,
    var(--color1-dark) 70%
  );
}
.btn-coinsShop:hover {
  opacity: 1;
  filter: brightness(150%);
  /* border:solid 1px var(--color1-light); */
  border-top: unset;
}
.btn-coinsShop span {
  font-size: calc(0.5vh + 1vw);
}

.btn-coinBuy {
  width: 90%;
  height: 15%;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 0 1vw rgba(0, 0, 0, 0.5), 0 0 1vw black;
}
#light .btn-coinBuy {
  background: linear-gradient(
    120deg,
    var(--color3-light) -30%,
    var(--color1-light) 70%
  );
}
#dark .btn-coinBuy {
  background: linear-gradient(
    120deg,
    var(--color3-dark) -30%,
    var(--color1-dark) 70%
  );
}
.btn-coinBuy span {
  padding-left: 10%;
  font-size: 1.8vw;
  opacity: 0.7;
  color: black;
}
#dark .btn-coinBuy span {
  color: white;
}
#light .btn-coinBuy span {
  color: black;
}
.btn-coinBuy img {
  width: 13%;
  padding-right: 10%;
  opacity: 0.7;
}
#dark .btn-coinBuy img {
  filter: invert();
}

.btn-pnl-createAgame {
  padding: 0.7vw 1vw 0.7vw 1vw;
  left: 15%;
  transition: top 1s ease;
}

.btn-serverRefresh{
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 4%;
  right: 4%;
  background: unset;
}
.btn-serverRefresh img{
  width: 100%;
  filter: brightness(50%);
}
.btn-serverRefresh:hover img{
  filter: brightness(60%);
}

.btn-serverPass{
  width: 25%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border-top: solid 2px #ccc ;
  border-right: solid 2px #ccc ;
}
#light .btn-serverPass{
  border-bottom: 2px solid var(--color1-light);
  background: var(--gradient-1-light);
}
#dark .btn-serverPass{
  border-bottom: 2px solid var(--color1-dark);
  background: var(--gradient-1-dark);
}
.btn-serverPass img{
  width: 100%;
  height: auto;
}
#dark .btn-serverPass.error,
#light .btn-serverPass.error{
  background: var(--gradient-red);
  border-bottom: 2px solid #f63e3e;
}