.btn-connectionDefault {
  width: 24.5vw;
  height: 6vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-size: 3vh;
  margin-bottom: 5px;
  margin-top: 5px;
}

.forgot-button {
  color: rgb(255, 255, 255);
  background-color: #4D6478;
}

.login-button {
  color: rgb(255, 255, 255);
  background-color: #033F61;
}

.login-button:hover {
  background-color:#4D6478 ;
}

.google-button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #4D6478;
  display:flex;
  justify-content: center;
  align-items: center;
}
.google-button img{
  width: 3vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content:center;
  padding-left: 5px;
}

.register-button {
  margin-top: 5%;
  color: rgb(255, 255, 255);
  background-color : #033F61 ;
}

.register-button:hover {
  background-color: #033F61;
}

.btn-list_table{
  width: 4.5vw;
  height: 3vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-size: 2vh;
  margin-bottom: 5px;
  margin-top: 5px;

}

.btn-list_table_join{
  background-color : #033e60;
}

.btn-list_table_full{
  background-color : red;
}
