/* AvatarDisplay.css */
.avatarContainer {
  padding: 0;
  position: relative;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.baseAvatar,
.sunglasses {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.sunglasses {
  width: 70%;
}
